<%= link_to "Make a new gallery", "/galleries/new" %>
<ul>
  <% @galleries.each do |gallery| %>
    <li>
    <%= link_to gallery.name, gallery %>
    -
    <%= gallery.description %><br />
    <%= link_to "Edit", edit_gallery_path(gallery) %><br/>
    <%= form_for gallery, method: :delete do |form| %>
      <% form.submit "Delete" %>
    <% end %>
    </li>
    <br />
  <% end %>
</ul>
