<p> This image name is <%= @image.name %></p>

<div><%= image_tag @image.url %></div>
<% @comments.each do |comment| %>
  <%= render "comments/comment", comment: comment %>
<% end %>
<br />
<div>
  <%= render "error_messages", target: @comment %>
  <%= form_for [@image, @comment] do |form| %>
    <%= form.label :body, "Comment" %>
    <%= form.text_field :body %>
    <%= form.submit %>
  <% end %>
  <% if ! current_user.likes_image?(@image) %>
    <%= button_to "Like this image", image_like_path(@image) %>
  <% else %>
    <%= button_to "Unlike this image", image_like_path(@image), method: :delete %>
  <% end %>
</div>
