<p> This image name is <%= @image.name %></p>

<div><%= image_tag @image.url %></div>
<%= form_for [@image.gallery, @image] do |form| %>
 <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :name)  %>
 <%= form.submit %>
 <% end %>
<% @comments.each do |comment| %>
  <%= render "comments/comment", comment: comment %>
<% end %>
<br />
<div>
  <%= render "error_messages", target: @comment %>
  <%= form_for [@image, @comment] do |form| %>
    <%= form.label :body, "Comment" %>
    <%= form.text_field :body %>
    <%= form.submit %>
  <% end %>
  <% if ! current_user.likes_image?(@image) %>
    <%= button_to "Like this image", image_like_path(@image) %>
  <% else %>
    <%= button_to "Unlike this image", image_like_path(@image), method: :delete %>
  <% end %>
  <div>
  <%= form_for [@gallery, @image] do |form| %>
    <ul>
    <li> <%= form.collection_check_boxes(:group_ids, Group.all, :id, :name)  %></li>
  </ul>
<%= form.submit %>
    <% end %>
</div>
